.lists-container {
  margin-right: 1rem;
  max-width: 40rem;
}

.add-todo-input {
  margin-top: .8rem;
}

.edit-todo-input {
  //font-size: 1rem;
  margin-left: .5rem;
}
.project-select {
  margin-left: .5rem;
}

mat-checkbox {
  //font-size: 1rem;

  &.checkbox-complete {
    //font-size: .8rem;
    color: dimgray;
  }
}
mat-divider {
  margin-bottom: 1rem;
}

.divider-heading {
  margin-top: 1rem;
  //font-size: .8rem;
}

.completed {
  color: darkgray;
}

.todo-title {
  margin-left: .5rem;
  //font-size: 1rem;
}

p.placeholder {
  //font-size: 1rem;
  font-style: italic;
  color: darkgray;
  margin-left: 2rem;
}
