<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="start center"
  *ngIf="(content$ | async) as content; else loading"
>
  <p class="mat-display-1">{{ content.mainHeading }}</p>
  <p class="mat-caption">{{ content.subHeading }}</p>
  <p class="mat-body">{{ content.intro }}</p>
  <div *ngIf="(isSignedIn$ | async); else signInButton">
    <a mat-flat-button color="accent" routerLink="/home">Go to my list</a>
  </div>
  <ng-template #signInButton>
    <a mat-flat-button color="accent" routerLink="/signin">Sign In</a>
  </ng-template>
  <mat-tab-group
    class="mat-body"
    mat-stretch-tabs
    dynamicHeight
    animationDuration="300ms"
    backgroundColor="primary"
  >
    <mat-tab [label]="content.group1.name">
      <div class="mat-tab-content" *ngFor="let section of content.group1.sections">
        <h3 class="mat-h3">{{ section.title }}</h3>
        <ul>
          <li *ngFor="let item of section.items">{{ item }}</li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab [label]="content.group2.name">
      <div class="mat-tab-content" *ngFor="let section of content.group2.sections">
        <h3 class="mat-h3">{{ section.title }}</h3>
        <ul>
          <li *ngFor="let item of section.items">{{ item }}</li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab [label]="content.group3.name">
      <div class="mat-tab-content">
        <mt-progress></mt-progress>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<ng-template #loading>Loading Welcome Page...</ng-template>
