.container {
  padding-top: 2rem;

  .mat-display-1 {
    margin-bottom: .5rem;
  }

  mat-tab-group {
    max-width: 38rem;
    margin: 2rem 1rem;

    .mat-tab-content {
      margin-top: 1rem;

      p {
        margin: 0 2rem;
      }
    }
  }

}
