.link {
  cursor: pointer;
  outline: none;
}
.username {
  font-size: .6rem;
}
.user-image {
  width: 1.6rem;
  height: 1.6rem;
  border: white solid .15rem;
  border-radius: 50%;
  margin: 0 .5rem;

}
