<div
  fxLayout="row"
  fxLayoutGap="10px"
>
  <div class="filters" fxFlex="none">
    <mt-filters
      [currentFilter]="currentProjectId$ | async"
      [activeProjects]="activeProjects$ | async"
      [projectIds]="projectIds$ | async"
      (setFilter)="onSetFilter($event)"
      (addProject)="onAddProject()"
      (reorderProjects)="reorderProjects($event)"
    ></mt-filters>
  </div>
  <div
    class="lists"
    fxFlex="flex"
    *ngIf="!(showCompleted$ | async); else completed"
  >
    <mt-lists
      [currentProject]="currentProject$ | async"
      [activeProjects]="activeProjects$ | async"
      [todos]="todos$ | async"
      [todoIds]="todoIds$ | async"
      (todoCheckboxChange)="toggleTodoStatus($event)"
      (addTodo)="onAddTodo($event)"
      (editTodo)="onEditTodo($event)"
      (deleteTodo)="onDeleteTodo($event)"
      (reorderTodos)="onReorderTodos($event)"
      (updateProjectInfo)="onUpdateProject($event)"
      (deleteProject)="onDeleteProject($event)"
    ></mt-lists>
  </div>
  <ng-template #completed>
    <div class="completed" fxFlex="flex">
      <mt-completed
        [completedProjects]="completedProjects$ | async"
        [allProjects]="allProjects$ | async"
        [completedTodos]="completedTodos$ | async"
        (setFilter)="onSetFilter($event)"
        (changeTodoStatus)="toggleTodoStatus($event)"
      ></mt-completed>
    </div>
  </ng-template>
</div>
