<div
  fxLayout="row"
  fxLayoutGap="10px"
  *ngIf="(authService.currentUser$ | async)"
>
  <div class="filters" fxFlex="none">
    <mt-filters
      [currentFilter]="currentProjectId"
      [projects]="activeProjects"
      [projectIds]="projectIds$ | async"
      (setFilter)="onSetFilter($event)"
      (addProject)="onAddProject()"
      (reorderProjects)="reorderProjects($event)"
    ></mt-filters>
  </div>
  <div class="lists" fxFlex="flex" *ngIf="!showCompleted">
    <mt-lists
      [currentProject]="currentProject$ | async"
      [activeProjects]="activeProjects"
      [todos]="todos$ | async"
      [todoIds]="todoIds$ | async"
      (todoCheckboxChange)="changeTodoStatus($event)"
      (addTodo)="onAddTodo($event)"
      (editTodo)="onEditTodo($event)"
      (deleteTodo)="onDeleteTodo($event)"
      (reorderTodos)="onReorderTodos($event)"
      (updateProjectInfo)="onUpdateProjectInfo($event)"
      (deleteProject)="onDeleteProject()"
    ></mt-lists>
  </div>
  <div class="completed" fxFlex="flex" *ngIf="showCompleted">
    <mt-completed
      [completedProjects]="completedProjects"
      [allProjects]="allProjects"
      [completedTodos]="completedTodos$ | async"
      (setFilter)="onSetFilter($event)"
      (changeTodoStatus)="changeTodoStatus($event)"
    ></mt-completed>
  </div>
</div>
