p.placeholder {
  font-size: 1rem;
  font-style: italic;
  color: darkgray;
  margin-left: 2rem;
}

table{
  width: 100%;

  th {
    margin-left: .3rem;
  }
  mat-cell {
    cursor: pointer;
  }

  .project-rows:hover {
    background: #f5f5f5
  }

  .project-icon {
    margin-right: .4rem;
  }
}
